.ProfileMain {
    flex: 0.6;
    border-right: 1px solid var(--twitter-color);
    min-width: fit-content;
    overflow-y: scroll;
}

.ProfileMain__header {
   
    background-color: white;
    z-index: 100;
    border: 5px solid var(--twitter-color);
    padding: 15px 20px;
}


.Main__header > h2 {
    font-size: 20px;
    font-weight: 800;
}

.Main::-webkit-scrollbar{
    display: none;
}

.Main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.info {
    display: flex;
    align-items: center;
}

.info > h5 {
    margin-left: 15px;
}



.sticky {
    position: sticky;
    top: 0;
}