.ProfileMain {
    flex: 0.7;
    border-right: 1px solid var(--twitter-color);
    min-width: fit-content;
    overflow-y: scroll;
}

.ProfileMain::-webkit-scrollbar{
    display: none;
}


.ProfileMain {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.ProfileMain__header {
   
    background-color: white;
    z-index: 100;
    border: 5px solid var(--twitter-color);
    padding: 15px 20px;
}


.Main__header > h2 {
    font-size: 20px;
    font-weight: 800;
}

.Main::-webkit-scrollbar{
    display: none;
}

.Main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}



.tab-list {
border-bottom: 1px solid #ccc;
padding-left: 0;
}

.tab-list-item {
display: inline-block;
list-style: none;
margin-bottom: -1px;
padding: 0.5rem 0.75rem;
}

.tab-list-active {
background-color: white;
border: solid #ccc;
border-width: 1px 1px 0 1px;
}



.delete-button {
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    background-color: lightblue;
    border: none;
}

.delete-button:hover {
    background-color: white;
    border: 2px solid lightblue;
}