.tweetBox {
    padding: 10px;
    border-bottom: 8px solid var(--twitter-color);
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    display: flex;
    padding: 20px;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 15px;
    font-size: 15px;
    border: none;
}

.tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 700;
    text-transform: inherit;
    border-radius: 30px;
    height: 50px;
    width: 300px;
    margin-top: 20px;
    font-size: 15pt;
    margin-left: auto;
    cursor: pointer;
}

.tweetButton:hover {
    border: 15px;
    border-color: black;
}